name: Automerge

on:
  pull_request_review:
    types:
      - submitted

jobs:
  automerge:
    name: Automerge
    runs-on: ubuntu-latest
    steps:
      - id: automerge
        name: automerge
        uses: "pascalgn/automerge-action@v0.16.2"
        env:
          GITHUB_TOKEN: "${{ secrets.ACCESS_TOKEN }}"
          MERGE_DELETE_BRANCH: "true"
          MERGE_FILTER_AUTHOR: "github-actions[bot]"
          MERGE_LABELS: "!wip"
          MERGE_METHOD: "squash"
